env/
.DS_Store
Docker/__pycache__

venv_json/
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

# scratch work
websync/scratch.py

# Excess code
websync/
# environments
