.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #d8e0f4;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: #FFE8E8;
    justify-content: center;
    align-items: center;
    height: 25%;
    position: fixed;
    z-index: 1;
}

.title {
    position: relative;
    flex-grow: 4;
    flex-shrink: 1;
    font-size: 50px;
    font-family: "Noteworthy";
    font-weight: 600;
    padding-top: 20px;
    text-align: center;

}

.blue {
    flex-grow: 1;
    flex-shrink: 2;
    font-size: 17px;
    font-weight: 30;
    color: #11397b;
    font-family: "Comic Sans MS";
}

.main-container {
    height: 75%;
    display: flex;
    justify-content: start;
    position: absolute;
    top: 20%;
    width: 100%;
}


.search-container {
    width: 40%;
    height: 85%;
    background-color: rgb(236, 236, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    z-index: 1;
    border-style: solid;
    border-width: 7px 0 0 0;
    border-color: #717171;
}


.input-group {
    display: flex;
    font-family: "Comic Sans MS";
    flex-direction: column;
    width: 80%;
    justify-content: start;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
}

label {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.results-container {
    width: 60%;
    right: 0;
    background-color: #d8e0f4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    height: 100;
    overflow: scroll;
    border-style: solid;
    border-width: 7px 0 0 0;
    border-color: #717171;
}

.small-image {
    height: 20px;
    width: 20px;
}

.results-title-container {
    position: fixed;
    z-index: 1;
    width: 60%;
    top: 20%;
    left: 40%;
    border-style: solid;
    border-width: 7px 3px 3px 3px;
    border-top-color: #717171;
    border-right-color: #555555;
    border-left-color: #555555;
    border-bottom-color: #555555;
    border-bottom-left-radius: 3pt;
    border-bottom-right-radius: 3pt
}

.results-title {
    height: 50%;
    align-self: stretch;
    background-color: lightgray;
    text-align: center;
    font-size: 21px;
    font-family: "Noteworthy";
    font-weight: bold;
    padding: 2px;

}

.horizontal {
    padding: 10px;
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: inset;
    display: flex;
    gap: 10px;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}