@font-face {
    font-family: shoreline-font;
    src: url(Shoreline.otf);
}

.solidline {
    position: fixed;
    /* Ensure that absolutely positioned elements are positioned relative to this container */
    display: flex;
    border-color: #717171;
    border-width: 0 0 2px 0;
    border-style: dashed;
    /* Adjust color, width, and style as needed */
    width: 100%;
    height: 19%;
    box-shadow: 0 0 10px rgba(48, 43, 66, 0.5);
    z-index: 2;
    overflow: hidden;
    /* Prevent content from overflowing */

}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/09/71/coffee-stained-paper-vector-750971.jpg);
    background-size: cover;
    background-color: none;
    /*background-color: #d8e0f4;*/
    z-index: -1;
}

.search-bar {
    width: 70%;
    background: none;
    border-width: 0px 0px 3px 0px;
}

.search-bar:focus {
    outline: none;
    background: none;
    border-width: 0px 0px 3px 0px;
}

.search-container {
    display: flex;
    left: 0%;
    top: 21%;
    width: 40%;
    height: 75%;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    border-style: solid;
    border-width: 7px 0 0 0;
    border-color: #717171;
    background-color: antiquewhite;
    background-size: cover;
    background-position: bottom, bottom;
    background-repeat: no-repeat, no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    overflow: scroll;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/09/71/coffee-stained-paper-vector-750971.jpg);
    background-position: center;
    background-size: 150%, 150%;
}

.results-container {
    display: flex;
    left: 40%;
    top: 21%;
    width: 60%;
    height: 75%;
    background-color: antiquewhite;
    z-index: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    border-style: solid;
    border-width: 7px 0px 0px 3px;
    border-color: #717171;
    overflow-y: scroll;
    box-shadow: inset 0 0 15px rgba(89, 46, 4, 0.75);
    background-image: url(https://media.istockphoto.com/id/1283615709/photo/old-brown-paper-parchment-background-design-with-distressed-vintage-stains-and-ink-spatter.jpg?b=1&s=612x612&w=0&k=20&c=dF3PPajNXtXXzoU4Qghwt9Yazu1KFNHuzmPWJ75eGCs=);
    background-size: cover;
    /*resize: horizontal;*/
    /*resize: horizontal;*/

}

.header-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 20%;
    z-index: 1;
    flex-direction: column;
    /* background-color: antiquewhite; */
    justify-content: center;
    align-items: center;
    border-bottom: 7px solid #717171;
    box-shadow: inset 0 0 20px rgba(150, 107, 100, 0.75);
    padding-top: 20px;
}

.title {
    top: 50%;
    transform: translateY(-60%);
    font-family: "Noteworthy";
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
    line-height: 0;
}

.subtitle {
    font-family: shoreline-font;
    font-size: 14px;
    font-weight: 30;
    color: black;
    line-height: 0;
    padding-bottom: 20px;
}

.input-group {
    display: flex;
    font-family: 'Kanit', sans-serif;
    flex-direction: column;
    /* top: 70%;
    height: 30%; */
    width: 80%;
    justify-content: start;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

label {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}


.small-image {
    height: 20px;
    width: 20px;
}

.results-title-container {
    position: fixed;
    left: 40%;
    width: 60%;
    z-index: 1;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
    border-right-color: #555555;
    border-left-color: #555555;
    border-bottom-color: #555555;
    border-bottom-left-radius: 3pt;
    border-bottom-right-radius: 3pt
}

.results-title {
    height: 50%;
    z-index: -1;
    align-self: stretch;
    background-color: rgba(189, 163, 123, 0.737);
    text-align: center;
    font-size: 21px;
    font-family: "Noteworthy";
    font-weight: bold;
    padding: 2px;

}

.horizontal-input {
    padding: 10px;
    background-color: none;
    border-radius: 4px;
    box-shadow: inset;
    display: flex;
    gap: 10px;
}

#add-tag-button,
.delete-button {
    background-color: none;
    border-style: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #555555;
    transition: 0.5s;
    ;
}

#add-tag-button:hover,
.delete-button:hover {
    color: black;
    font-size: 26px;
    transition: 0.5s;
    font-weight: bolder;
    transform: translateY(-6px);
    transform: translateX(-3px);
}

.single-container {
    display: flex;
}

#answer-box {
    display: grid;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: scroll;
}

.fanfic-title {
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: medium;
}

.fanfic-desc {
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
    font-size: small;

}

/* .bottom-button-containers {
    position: relative;
    border-top: 20%;
    height: 7%;
    z-index: 2;
    border-style: solid;
    border-width: 1px;
    border-color: #1c1c1c;
    background-color: #ffd4b7;
    box-shadow: 0 0 10px rgba(27, 7, 2, 0.5);
    padding: 2pt
} */

/* .bottom-button-text {
    height: 100%;
    z-index: -1;
    align-self: stretch;
    background-color: #FFD4B7;
    text-align: center;
    font-size: 8px;
    font-family: "Noteworthy";
    font-weight: bold;
    padding: 2px;

} */

button {
    display: flex;
    padding: 2px 20px;
    /* height: 6%; */
    font-family: "Noteworthy";
    font-weight: bold;
    font-size: 14px;
    background-color: #FFD4B7;
    color: rgb(0, 0, 0);
    border-color: #1C1C1C;
    border-width: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(27, 7, 2, 0.5);
    /* top: 85%;
    position: fixed; */
}

.tags-container {
    width: 80%;
    overflow: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: inherit;
    justify-content: start;
    align-items: center;
    gap: 10px 20px;
}

.tag {
    color: #FAEED1;
    background-color: #B2A59B;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
}

.novel-info-container {
    background-color: #B2A59B;
    color: white;
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
    padding: 5% 5%;
    overflow: scroll;
    gap: 10px;
    font-family: 'Kanit', sans-serif;
}

#selected-title {
    height: 100px;
    width: 100%;
    padding-bottom: 30px;
    overflow-y: scroll;
    font-size: 20px;
    font-weight: bold;
}

.group {
    display: block;
    width: 100%;
    height: 50%;
}

#selected-descr {
    background-color: none;
    height: 50%;
    /* overflow: scroll; */
    text-align: start;
}

.horizontal {
    display: flex;
    gap: 10px;
    align-items: center;
}

#genres-container {
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
}

.genre-tag {
    background-color: #FAEED1;
    border-radius: 10px;
    color: #B2A59B;
}

.footer {
    top: 95%;
    width: 100%;
    background-color: black;
    height: 5%;
    position: fixed;

}