<!doctype html>
<html>
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">

    <body onload="setup()">

        <div class="full-body-container">
            <div class="header-container">
                <h1 class="title"> WebSync </h1>
                <h4 class="subtitle"> find fan fictions that match your favorite web novels!</h4>
            </div>
            <div class="solidline"> </div>
            <div class="results-container">
                <div class="results-title-container">
                    <div class="results-title">
                        Results
                    </div>
                </div>
                <div id="answer-box">
                </div>
                <div class="bottom-button-containers">
                    <div class="bottom-button-text">
                        Show More...
                    </div>
                </div>
            </div>
            <div class="search-container">
                <div class="novel-info-container">
                    <div id="selected-title"></div>
                    <div class="horizontal">
                        <label> Author: </label>
                        <div id="selected-author"></div>
                    </div>
                    <div class="group">
                        <label>
                            Genres:
                        </label>
                        <div id="genres-container">
                            
                        </div>
                    </div>
                    <div class="group">
                        <label>Description: </label>
                        <div id="selected-descr"></div>
                    </div>
                </div>

                <div class="input-group">
                    <label>
                        Tags:
                    </label>
                    <div class="horizontal-input">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" class="small-image" />
                        <input class="search-bar" id="tags-search">
                            <button id="add-tag-button"> + </button>
                        </input>
                        
                    </div>
                </div>
                <div class="tags-container"></div>
                <div class="input-group">
                    <label>
                        Popularity:
                    </label>
                    <div id="slideContainer">
                        <div id="sliderValue">350</div>
                        <input type="range" min="350" max="600" value="1" id="size-slider">
                    </div>
                </div>
                <div class="bottom-button-containers">
                    <div class="bottom-button-text">
                        Show Recommendations!
                    </div>
                </div>
            </div>
            <div class="footer"></div>
        </div>

        <script>

            function addTag(e){
                let inputTag = document.getElementById('tags-search').value;
                
                let tagContainer = document.querySelector('.tags-container');

                let newTag = document.createElement('div');
                newTag.setAttribute("class","tag");
                let tagName = document.createElement('div');
                tagName.setAttribute("class","tag-name");
                tagName.textContent = inputTag;
                newTag.appendChild(tagName);
                let deleteButton = document.createElement('button');
                deleteButton.setAttribute("class","delete-button");
                deleteButton.setAttribute('id',inputTag)
                deleteButton.textContent = "x";
                deleteButton.addEventListener('click', () => {
                    tagContainer.removeChild(newTag);
                    fetch("/removeTag?"+new URLSearchParams({ tag: inputTag}).toString())
                    .then((response) => response.json())
                    .then((data) => {
                    })
                });
                newTag.appendChild(deleteButton);
                tagContainer.appendChild(newTag);
                fetch("/addTag?"+new URLSearchParams({ tag: inputTag}).toString())
                .then((response) => response.json())
                .then((data) => {
                })
            }
            function setup(){
                fetch("/getNovel?")
                .then((response)=> response.json())
                .then((data) => {
                    let titleContainer = document.getElementById("selected-title")
                    titleContainer.textContent = data['title']
                    let authorContainer = document.getElementById("selected-author")
                    authorContainer.textContent = data['author']
                    let descrContainer = document.getElementById("selected-descr")
                    descrContainer.textContent = data['descr']
                    let genres = data['genres']
                    let genreContainer = document.getElementById("genres-container")
                    if (genres.length > 4){
                        for (var i = 0; i < 4; i ++){
                            const genreTag = document.createElement('div');
                            console.log(genreTag)
                            genreTag.setAttribute('class','genre-tag');
                            genreTag.textContent = genres[i];
                            genreContainer.appendChild(genreTag);
                        }
                    } else {
                        genres.forEach((genre) => {
                            const genreTag = document.createElement('div');
                            console.log(genreTag)
                            genreTag.setAttribute('class','genre-tag');
                            genreTag.textContent = genre;
                            genreContainer.appendChild(genreTag);
                        })
                    }
                })
                let addTagButton = document.getElementById('add-tag-button');
                addTagButton.addEventListener('click', addTag);
            }
            function answerBoxTemplate(title, titleDesc, rating) {
                return `<div class=''>
                    <h3 class='episode-title'>${title}</h3>
                    <p class='episode-desc'>${titleDesc}</p>
                    <p class='episode-rating'>IMDB Rating: ${rating}</p>
                </div>`
            }

            function sendFocus(id) {
                document.getElementById(id).focus()
            }

            function filterText(id) {
                document.getElementById("answer-box").innerHTML = ""
                console.log(document.getElementById(id).value)
                fetch("/episodes?" + new URLSearchParams({ title: document.getElementById(id).value }).toString())
                    .then((response) => response.json())
                    .then((data) => data.forEach(row => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.imdb_rating)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }));
            }

        </script>
    </body>
</html>